


[data-panel="/Master/PageTabs"] {
    background-color: #fff;
    height: 31px;
    position: relative;
    box-sizing: border-box;
    border-bottom: solid 1px #5392CC;
    // margin-top: 22px;


    > ul {
        margin-right: 30px;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0;
        height: 30px;
        margin-left: 35px;

        > li {
            line-height: 28px;
            display: inline-block;
            background-color: #fff;
            padding: 0 28px 0 8px;
            font-size: 14px;
            vertical-align: top;
            cursor: pointer;
            border-left: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            position: relative;
            box-sizing: border-box;
            height: 30px;
            font-size: 12px;
            margin-left: 2px;
            float: left;
            padding-left: 10px;
            color: #000;
            cursor: pointer;
            border-radius: 5px 5px 0 0;

           

            > i.icon {
                margin-right: 2px;
                font-size: 16px;
                position: relative;
                top: 2px;
                color: #61a7e5;
            }

            > i.close {
                position: absolute;
                right: 8px;
                cursor: pointer;
                top: 9px;
                visibility: hidden;
            }

            &.on {
                color: #fff;
                background-color: #61a7e5;
                border-color: transparent;

                i.icon {
                    color: #fff;
                }

               
            }

            &:hover {
                > i.close {
                    visibility: visible;
                }
            }
        }
    }
}
