[data-panel="/ModuleTree/Main/List/GridView"] {
    height: calc(100% - 43px);
    overflow-x: scroll;

    .GridView { 

        > main {
            &.no-pager {
                max-height: calc(100% - 49px);
            }
        }
        
        tr.error {
            &.dependents td.dependents,
            &.privates td.privates,
            &.childs td.childs {
                 color: red; 
                 font-weight: bold; 
                 background: #fff9c5;
            };
        }

        td.order {
            color: #b1b1b1;
            text-align: center;
        }

        td {
            &.number {
                text-align: center;
            }

            &.error {
                color: red;
                background: #fff9c5;
            }

            a[data-cmd] {
                text-decoration: none;
                color: unset;
                cursor: pointer;

                &:hover{
                    color:rgb(81, 163, 218);
                    text-decoration: underline;

                }

                
            }


        }

        span.keyword {
            /* color: #fff; */
            /* background: #6b9629; */
            font-weight: bold;
            background: #ececec;
        }
    }
}