
[data-panel="/FileList/Sidebar/Operation"] {
    position: absolute;
    bottom: 0px;
    padding: 5px 5px;
    right: 0px;
    /*border-top: solid 1px #e8ecf0;*/
    // width: 100px;

    &:hover {
        box-shadow: #00000024 0px 0px 12px 1px;
        li {
            width: 52px;
            transition: width 0.1s ease-in-out;
        }
    }

    li {
        margin: 2px 0px 2px 0px;
        outline: none;
        font-size: 14px;
        height: 28px;
        line-height: 28px;
        padding: 0 4px;
        border: 1px solid;
        border-radius: 2px;
        cursor: pointer;
        color: #61a7e5;
        background-color: #fff;
        border-color: #dce6f0;
        //width: 52px;
        width: 26px;
        transition: width 0.1s ease-in-out;
        overflow: hidden;
        text-align: center;

        span {
            margin-left: 6px;
        }

        &:hover {
            border-color: #61a7e5;
        }

        &:focus {
            background-color: #f4faff;
            border-color: #61a7e5;
            color: #61a7e5;
        }

        &.detail {
            color: #679630;
        }

        &.refresh {
            color: #3F51B5;
        }


        &.delete {
            color: #ef6155;

            &:hover {
                border-color: #e29f97;
            }

            &:focus {
                background-color: #fff5f4;
                border-color: #e29f97;
                color: #ef6155;
            }
        }
    }
}
