[data-panel="/FileList/Body/Main"] {
    width: 100%;
    display: inline-block;
    /* overflow: scroll; */
    height: calc(100% - 32px);
    box-sizing: border-box;
    background: #fff;


    

}