
[data-panel="/FileList/Sidebar"] {
    display: inline-block;
    height: 100%;
    background: #fff;
    width: 326px;
    vertical-align: top;
    border-left: 2px solid #e8ecf0;
    box-sizing: border-box;

    position: absolute;
    /* background: red; */
    right: 0;
    top: 0;

   
}
