
[data-panel="/FileList/Sidebar/Stat"] {
    height: calc(100% - 37px);
    overflow-y: scroll;
    
    /*展示的是目录。*/
    &.dir {
        tr.md5,
        tr.size {
            display: none;
        }
    }

    table {
        font-size: 14px;
        tr:hover {
            background-color: #eee;
        }

        th {
            text-align: right;
            box-sizing: border-box;
            border-bottom: solid 1px #eee;

            &:after {
                content: ':';
                color: #4d4d4d;
                font-weight: normal;
                display: inline-block;
                margin-left: 4px;
            }
        }

        td {
            padding-left: 10px;
            text-align: right;
            border-bottom: solid 1px #eee;
        }

        tr.sname {
            td {
                color: #FF9800;
            }
        }

        tr.name {
            td {
                color: #2196F3;

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: inline-block;
                }
            }
        }

        tr.md5 {
            td {
                color: #c13d2d;
                font-size: 12px;
                
            }
        }

        tr.spliter {
            height: 32px;
            vertical-align: bottom;
        }


        tr.size,
        tr.dir-size {
            .value {
                color: red;
            }
        }

        .desc {
            // color: #d0d0d0;
            color: #00a8f4,
        }

        tr.time {
            td {
                color: #aaa;
            }
        }
    }
}
